@media screen and (min-width: 980px) and (max-width:1170px){
    .header-section{
        padding: 20px;
        padding-top:0 ;
    }
    .banner-section{
        padding: 106px 120px;
    }
    .main-section{
        margin: 0 20px;
    }
    .popular-tour-content{
        width: 50%;
    }
    .popular-tour-img img{
        width: 100%;
    }
    
}
@media screen and (max-width: 600px){
    .header-section{
        margin: 20px;
        margin-bottom: 0;
    }
    .navbar{
        margin-bottom: 20px;
    }
    .nav-title{
        font-size: 21.543px;
        font-weight: 800;
        gap: 10px;
    }
    .nav-title img{
        height: 33.516px;
    }
    .navbar>ul{
        display: none;
    }
    .navbar>i{
        display: block;
        font-size: 24px;
    }
    .banner-section{
        padding: 32px 16px;
    }
    .banner-title{
    font-size: 22px;
    font-weight: 800;
    }
    .banner-description{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin: 10px 0px;
    }
    .search-box{
        flex-direction: column;
        margin: 22px 8px;
    }
    .search-info, .search-box button{
        width: 100%;
    }
    .main-section{
        padding: 20px;
    }
    .popular-tour{
        flex-direction: column;
    }
    .popular-tour-title{
        font-size: 20px;
        font-weight: 800;
    }
    .popular-tour-description-1{
        margin: 16px 0;
        font-size: 14px;
        line-height: 24px;
    }
    .popular-tour-list-item>li{
        font-size: 14px;
        line-height: 24px;
    }
    .popular-tour-description-2{
        font-size: 14px;
        line-height: 24px;
    }
    .popular-tour-img{
        min-height: 342px;
    }
    .popular-tour-img img{
        width: 100%;
    }


    .destination-section{
        margin-top: 24px;
    }
    .destination-title{
        font-size: 20px;
    }
    .destination-description{
        font-size: 14px;
        line-height: 24px;
        padding: 0 13px;
    }
    .destination-img-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 176px);
    }
    .destination-img-container .destination-img{
        grid-column: 1/ span 12;
        border-radius: 16px;
    }
    .destination-img img{
        width: 100%;
    }

    .choose-us-section{
        margin-top: 24px;
    }
    .choose-us-title{
        font-size: 20px;
    }
    .choose-us-description{
        font-size: 14px;
        line-height: 24px; 
        margin: 16px 13px 0;
    }
    .choose-card-container{
        margin-top: 16px;
    }
    .choose-card{
        width: 100%;
    }
    .choose-card img{
        height: 48px;
    }
    .choose-card-title{
        margin: 16px 0;
        font-size: 20px;
    }
    .choose-card-description{
        font-size: 14px;
        line-height: 24px;
    }
}