@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* header starts here  */
.header-section{
    max-width: 1170px;
    margin: 52px auto 100px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.nav-title{
    display: flex;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    gap: 16px;
}
.navbar>ul{
    display: flex;
    gap: 44px;
}
.navbar>i{
    display: none;
}
.navbar>ul>li{
    list-style: none;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}
#home{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
/* navbar end  */


/* banner start  */
.banner-section{
    padding: 106px 185px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-description{
    max-width: 676px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px auto 48px;
}
.search-box{
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}
.search-info, .search-box button{
    width: 24%;
    padding: 16px 15px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.search-info::placeholder{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.search-box button{
    width: 24%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background: #FF5400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.search-box button i{
    font-size: 24px;
}
.search-box .select-option{
    display: inline-block;
    padding: 16px 15px;
}
/* banner end  */

/* main start  */
.main-section{
    max-width: 1170px;
    margin: 0 auto;
}
/* main end  */

/* popular tour start  */
.popular-tour{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.popular-tour-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-tour-description-1{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}
.popular-tour-list-item{
    margin-left: 20px;
}
.popular-tour-list-item>li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 525px;
}
.list-item-2{
    padding: 16px 0;
}
.popular-tour-description-2{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 32px;
    max-width: 530px;
}

.popular-tour-button{
    padding: 14px 34px;
}

.popular-tour-img{
    min-height: 550px;
    max-width: 540px;
}
.popular-tour-img img{
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: block;
}
/* popular tour ends  */


/* destination starts here  */

.destination-section{
    margin-top: 100px;
    text-align: center;
}
.destination-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.destination-description{
    max-width: 643px;
    margin: 24px auto 48px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.destination-img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 300px 286px 300px;
    gap: 24px;
}
.destination-img-container .destination-img{
    position: relative;
}
.destination-img-container .destination-img p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.destination-img-container .destination-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.destination-img-1{
    grid-column: 1/ span 6;
}
.destination-img-2{
    grid-column: 7/ span 6;
}

.destination-img-3{
    grid-column: 1/ span 4;
}
.destination-img-4{
    grid-column: 5/ span 5;
}
.destination-img-5{
    grid-column: 10/ span 3;
}
.destination-img-6{
    grid-column: 1/ span 5;
}
.destination-img-7{
    grid-column: 6/ span 7;
}
/* destination end  */


/* choose use starts here  */
.choose-us-section{
    margin-top: 100px;
}
.choose-us-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.choose-us-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px auto 0;
    max-width: 643px;
}
.choose-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
}
.choose-card{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 48%;
    padding: 32px;
}
.choose-card-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-card-title{
    margin: 32px 0 16px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.choose-card-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* choose us end  */


/* discount start  */
.discount-section{
    margin-top: 100px;
}
.discount-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.discount-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 643px;
    margin: 24px auto 0;
}
.discount-img-container-1{
    height: 500px;
    margin-top: 48px;
    border-radius: 16px;
    background: url('../Images/Group\ 39.png');
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 55px;
    display: flex;
    justify-content: end;
}
.discount-card{
    max-height: 390px;
    width: 55%;
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.time-people-location{
    display: flex;
    align-items: center;
    gap: 24px;
}
.time, .people, .location{
    display: flex;
    gap: 8px;
}
.location-title{
    margin: 26px 0 16px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.location-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.location-cost{
    margin: 16px 0 38px;
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}
.book-location-btn{
    padding: 14px 25px;
}

.discount-img-container-2{
    height: 500px;
    margin-top: 24px;
    border-radius: 16px;
    background: url('../Images/Group\ 40.png');
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 55px;
    display: flex;
    justify-content: start;
}
.discount-img-container-3{
    height: 500px;
    margin-top: 24px;
    border-radius: 16px;
    background: url('../Images/Group\ 39.png');
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 55px;
    display: flex;
    justify-content: end;
}
.discount-packages-btn{
    margin-top: 48px;
    text-align: center;
}
.discount-packages-btn>button{
    padding: 14px 22px;
}
.perfect-place-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.perfect-place-content{
    width: 40%;
}
.perfect-place-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}
.perfect-place-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}

.perfect-place-lists{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-left: 20px;
}
.perfect-place-lists .perfect-list-2{
    margin: 16px 0 32px;
}
.perfect-place-btn{
    padding: 14px 42px;
}
.perfect-place-video{
    width: 55%;
    min-height: 424px;
    position: relative;
}
.perfect-place-video>img{
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
.perfect-place-video-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.video-control{
    width: 100%;
    padding: 25px;
    padding-right: 25px;
    position: absolute;
    color: #FFF;
    bottom: 0;
}
.video-control-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-control-left{
    display: flex;
    align-items: center;
    gap: 5px;
}
.video-control-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.video-control-bottom{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.video-control-bottom .hr{
    position: absolute;
    width: 100%;
    height: 4px;
}
/* perfect place end  */

/* newsletter start  */
.newsletter-section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.newsletter-subscribe{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-description{
    margin-top: 16px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    padding-bottom: 24px;
}
.newsletter-input-1{
    margin:24px 0 16px;
}
.newsletter-input-1, .newsletter-input-2{
    width: 100%;
    display: block;
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.newsletter-input-1::placeholder, .newsletter-input-2::placeholder{
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
}
.subscribe-btn{
    width: 100%;
    padding: 14px;
    margin-top: 24px;
}
.newsletter-img{
    max-width: 672px;
    min-height: 422px;
    position: relative;
}
.newsletter-img>img{
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.save70{
    position: absolute;
    bottom: 10%;
    right: 3%;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19deg);
    padding: 30px;
}
.save70>span{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.save70>p{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}